<footer>
    <div class="footer" id="footer">
        <center>
        
        <br><br>
        <h4> Social</h4>
        <div class="button3"> </div>
        <div class="button3"> </div>
        <div class="button3"> </div>
        <div class="button3"> </div>
        <div class="button3"> </div>
        <br>
        
        <div class="button4">
        connect on whatsapp<br> 74 28 08 12 81
        </div>
        <hr>
        
        <h4>Download </h4>
        <div class="button4">
        get it on<br>Google Play
        </div>
        <div class="button4">
        Download on<br>Apple Store
        </div>
        <hr>
        
        <h4> Our Awards</h4>
        <div class="button5">Best Low Cost<br> Airline Asia</div>
        <div class="button5">Best Low Cost<br> Airline Central Asia </div>
        <div class="button5">Passenger<br>Choice Award </div>
        <div class="button5">Safety<br> Airline Asia </div>
        <hr>
        
        
        
        <h4>Get to Know Us </h4>
        <div class="text2">
        About us <br>
        IndiGo Green – ESG report <br>
        IndiGoReach - Our CSR initiatives <br>
        Hello 6E Magazine<br>
        Board of Directors <br>
        Leadership Team<br>
        Investor Relations<br>
        Press Releases<br>
        InterGlobe Enterprises<br>
        RPWD - Equal Opportunity Policy<br>
        Transgender Persons Policy<br>
        HIV/AIDS workplace policy<br>
        Our Awards<br>
        Seat/Aircraft information<br>
        </div>
        
        <h4>Services</h4>
        <div class="text2">
        Plan B <br>
        Special/Disability Assistance<br>
        Medical Assistance <br>
        Seat Select<br>
        6E Eats<br>
        Add-ons & Services<br>
        Baggage<br>
        Refund Claim<br>
        Charter Services<br>
        </div>
        
        <h4>Quick Links</h4>
        <div class="text2">
        Offers <br>
        Careers <br>
        Advertise with us <br>
        Sitemap <br>
        Destinations <br>
        Blogs <br>
        Terms and Conditions <br>
        Conditions of Carriage <br>
        Privacy Policy <br>
        Disclaimer <br>
        International Travel Tips <br>
        Web check-in Advisory <br>
        Tariff Sheet <br>
        </div>
        
        
        <hr>
        
        <br>
        <h5> Ⓒ Copyright 2024 IndiGo. All rights reserved.</h5>
        <br><br><br>
        
        
        </center>
        </div>
        </footer>