<header>
    <div class="booking_header right">
        <nav>
        <div>
            <span class="logo"></span>
            <span class="name" style="float:left">SKY<span style="color:rgb(4, 4, 51)">link</span> Airlines</span>
        </div>
        <div class="button1">
        <a href="/home">
        Home
        </a>
        </div>
        <div class="button1">
        <a href="/login">
        Log in/Log out
        </a>
        </div>
        <div class="button1">
        <a href="/contact">
        Contact Us
        </a>
        </div>
        <div class="button1">
        <a href="/about">
        About Us
        </a>
        </div>
        <div class="button1">
            <a href="/profile">
                Profile
            </a>
            </div>
        
        </nav>
        </div>
    </header>